.linkBackContainer {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 48px;
    padding: 8px;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 13px;
}
.returnButton {
    display: inline-block;
    padding-right: 25px;
    color: rgb(0, 0, 0);

    text-decoration: none;
    cursor: pointer;
}
.returnButton:hover {
    text-decoration: underline;
}
.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input {
    width: 500px;
    font-size: 16px;
    padding: 13px 60px 13px 40px;

    border-radius: 25px;
    border-style: solid;
    border-width: 0.2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);

    margin-top: 15px;
    margin-bottom: 25px;

    background-image: url("/staff/searchIcon.png"); /* Path to your search icon */
    background-repeat: no-repeat;
    background-position: 10px center; /* Adjust the position of the icon */
    background-size: 15px auto; /* Adjust the width of the icon */
}

.button {
    background-color: #4285F4;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}
.button:hover {
    background-color: #2E67D7;
}
.gLogo {
    display: flex;
    flex-direction: column;
}
.googleLogo {
    width: 272px;
}
.text {
    display: flex;
    justify-content: right;
    margin: 0;
    color: blue;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}