.cornerLinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 48px;
    padding: 8px;
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 13px;
}

.linkToAdvanced,
.linkToImages {
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding-right: 15px;
    cursor: pointer;
}

.linkToAdvanced:hover,
.linkToImages:hover {
    text-decoration: underline;
}

.nineDotsIcon,
.personIcon {
    height: 32px;
    margin-right: 15px;
    transition: background-color 0.1s ease;
}

.nineDotsIcon:hover,
.personIcon:hover {
    background-color: lightgrey;
    border-radius: 14px;
}

.frontContainer {
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.googleLogoImage {
    width: 272px; /* Adjust the width as needed */
}

.searchBarContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputBar {
    flex-grow: 1;
    width: 500px;
    font-size: 16px;
    
    padding: 13px 60px 13px 40px; /* Adjust the padding to create space for the icon */
    margin: 25px 10px;
    
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    border: 1px solid #ccc;
    border-radius: 25px;
    border-style: solid;
    border-width: 0.2px;
    background-image: url("/staff/searchIcon.png"); /* Path to your search icon */
    background-repeat: no-repeat;
    background-position: 10px center; /* Adjust the position of the icon */
    background-size: 15px auto; /* Adjust the width of the icon */
}

.inputBar::placeholder {
    opacity: 0.6; /* Adjust the opacity of the placeholder text */
  }
  
.confirmButton,
.luckyButton {
  background-color: #4285F4;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
  font-size: 14px;
}

.confirmButton:hover,
.luckyButton:hover {
  background-color: #2E67D7;
}