.cornerLinks {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    
    box-sizing: border-box;
    height: 48px;
    line-height: normal;
    padding-top: 15px;
    padding-left: 8px;
    padding-bottom: 8px;
    padding-right: 8px;

    
    flex: 0 0 auto;
    justify-content: flex-end;
}
.linkToAdvanced,
.linkToImages {
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-family: 'Roboto', arial, sans-serif;
    font-size: 13px;
    padding-right: 15px;


    cursor: pointer;
}
.linkToAdvanced:hover,
.linkToImages:hover {
    text-decoration: underline;
}
.nineDotsIcon,
.personIcon {
    height: 32px;
    margin-right: 15px;
    transition: background-color 0.1s ease;
}
.nineDotsIcon:hover,
.personIcon:hover {
    background-color: lightgrey;
    border-radius: 14px;
    
}
.frontContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    m
    top: 25%;
    left: 30%;
}
.googleLogoImage {
    width: 400px;
}
.searchBarContainer {
   display: flex;
   flex-direction: column;
   
   align-items: center;
   
   
}
.inputContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.inputBar {
    
    width: 500px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 20px;

    width: 400px;
    margin-left: 10px;
    border: none;
    font-size: 16px;
}
.searchIcon {
    width: 15px;
}
.confirmButton {
    margin-top: 15px;
    background-color: #4285F4;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}
.confirmButton:hover {
    background-color: #2E67D7;
}